@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Crm.Models
@using Erp.BackOffice.Helpers
@using GridMvc.Html

@{
    ViewBag.Title = "Target";
    bool isPopup = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? true : false;
    if (isPopup)
    {
        Layout = "~/Views/Shared/_PopupLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    }

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "CrmReport",
        ActionName = "IndexTarget",
        PageTitle = ViewBag.Title,
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
    List<Crm_LevelViewModel> level = (List<Crm_LevelViewModel>)ViewBag.Level;
    List<Crm_PeriodViewModel> period = (List<Crm_PeriodViewModel>)ViewBag.Period;
    List<Crm_TargetViewModel> target = (List<Crm_TargetViewModel>)ViewBag.Target;
}

<link href="@Url.Content("~/assets/css/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"></script>
<style>
    table {
        table-layout: fixed;
    }

    th, td {
        width: 100px;
        padding: auto 5px;
    }
</style>

@*<button type="button" class="btn btn-primary">@Html.ActionLink("Add", "CreateTarget", "CrmReport")</button>*@
<a class="btn btn-primary" href="CreateTarget">ADD</a>

@{
    if (TempData["isCreateTarget"] == "1")
    {
        <div class="alert alert-success" role="alert">
            Thêm thành công!
        </div>
    }
    else if(TempData["isCreateTarget"] == "-1")
    {
        <div class="alert alert-danger" role="alert">
            Giá trị đã tồn tại!
        </div>
    }
}

<div style="overflow:scroll">
    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>#</th>
                @{
                    foreach (var lev in level)
                    {
                        <th>@(lev.Name != null ? lev.Name : "null")</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var per in period)
            {
                <tr>
                    <td>@per.Name</td>
                    @foreach (var lev in level)
                    {
                        var _tar = target.Where(x => x.Period == per.Id && x.Level == lev.Id).FirstOrDefault();
                        if (_tar != null)
                        {
                            <td>
                                <form action="CreateOrEditTarget" method="post">
                                    <input name="Id" value="@_tar.Id" style="display: none;" />
                                    <input name="Target" value="@_tar.Target" type="number" style="width: 50px" />
                                    <input name="Level" value="@lev.Id" style="display:none;" />
                                    <input name="Period" value="@per.Id" style="display:none;" />
                                    <input type="submit" style="display:none;" />
                                    <a href="DeleteTarget?id=@_tar.Id"><i class="ace-icon fa fa-trash bigger-130 text-danger"></i></a>

                                </form>
                                @*@_tar.Target*@
                                @*@Html.ActionLink("[Delete]", "DeleteTarget", "CrmReport", new { id = _tar.Id }, null)*@
                                @*@Html.ActionLink("[EDIT]", "EditTarget", "CrmReport", new { id = _tar.Id }, null)*@
                            </td>
                        }
                        else
                        {
                            <td>
                                <form action="CreateOrEditTarget" method="post">
                                    <input name="Target" type="number" style="width: 50px"/>
                                    <input name="Level" value="@lev.Id" style="display:none;"/>
                                    <input name="Period" value="@per.Id" style="display:none;"/>
                                    <input type="submit" style="display:none;"/>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

