@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@using System.Globalization;
@model  List<Sale_Report_ProductInVentoryComparedquota>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    @{
        /**/

        ViewBag.Title = "Báo cáo số lượng sản phẩm sắp hết";
        if (Request["IsPopup"] == "true")
        {
            Layout = "~/Views/Shared/_PopupLayout.cshtml";
        }
        else
        {
            if (Request["IsPopup"] == "null")
            {
                Layout = null;
            }
            else
            {
                Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
            }
        }
        bool IsDisplaySearchPanel = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? false : true;
        Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
        {
            ModuleName = "SaleReport",
            ActionName = "BaoCaoSoLuongSanPhamTon",
            PageTitle = ViewBag.Title,
            DisplaySearchPanel = IsDisplaySearchPanel,
            IsPopup = false,
            DisplayBackButton = false
        };
        int index = 1;
        //decimal sum = 0;
        Calendar calendar = CultureInfo.InvariantCulture.Calendar;
        //var weekdefault = calendar.GetWeekOfYear(DateTime.Now, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
        //string Month = Request["month"] != null ? Request["month"] : DateTime.Now.Month.ToString();
        //string Year = Request["year"] != null ? Request["year"] : DateTime.Now.Year.ToString();
        //string week = Request["week"] != null ? Request["week"] : weekdefault.ToString();
        //string branchId = Request["branchId"] != null ? Request["branchId"] : "";
        //if (Request["branchId"] == null)
        //{
        //    if (!Erp.BackOffice.Filters.SecurityFilter.IsAdmin())
        //    {
        //        branchId = Erp.BackOffice.Helpers.Common.CurrentUser.BranchId.Value.ToString();
        //    }
        //}
        //ViewData["branchId"] = branchId;
    }
    @using (Html.BeginPageHeaderContainer(pageSetting))
    {
        @Html.TextBox("code", Request["code"], new { @class = "", autocomplete = "off", placeholder = "Sản phẩm..." })
    }
    <div class="table-responsive" id="BCSoLuongSanPhamTon" style="margin-bottom:40px">
        <table id="cTable" class="table table-bordered">
            <thead>
                @*<tr class="">
                        <th class="" colspan="11" style="text-align:center"><h4>BÁO CÁO DOANH SỐ TỪ @startDate ĐẾN @endDate</h4></th>
                    </tr>*@
                <tr>
                    <th style="width:40px;text-align:center">STT</th>
                    <th style="min-width:100px;text-align:center">Nhãn hàng</th>
                    <th style="min-width:100px;text-align:center">Sản phẩm</th>
                    <th style="text-align:center">Định mức</th>
                    <th style="text-align:center">Tồn</th>
                    <th style="text-align:center">Chênh lệch</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(index%2==0?"alert-warning":"")">
                        <td> <span>@(index++)</span></td>
                        <td>@item.Origin</td>
                        <td>
                            @item.Name
                        </td>
                        <td>@item.MinInventory</td>
                        <td>@item.Quantity</td>
                        <td>@item.SoLuongChenhLech</td>
                    </tr>
                }

            </tbody>
            <thead>
                <tr>
                    @*<td colspan="4" style="text-align:right"><b>Tổng:</b></td>
                        <td style="text-align:right"><b>@(CommonSatic.ToCurrencyStr(Model.Sum(x => x.DoanhSo), null))</b></td>*@
                    @*<td style="text-align:right"><b>@(CommonSatic.ToCurrencyStr(Model.Sum(x => x.TotalAmount), null))</b></td>

                        <td style="text-align:right"><b>@(CommonSatic.ToCurrencyStr(Model.Sum(x => x.PaidAmount), null))</b></td>*@
                </tr>
            </thead>
        </table>

    </div>
    @using (Html.BeginButtonContainer(pageSetting))
    {
        <button class="btn btn-white btn-success btn-sm" type="button" value="Export" onclick="exportSpChenhLechSoVoiDinhMuc()">
            <i class="ace-icon fa fa-file-excel-o"></i>
            Xuất excel
        </button>
    }
    <script>   function exportSpChenhLechSoVoiDinhMuc() {        
            var code = $('#code').val();



       OpenPopup('/SaleReport/ExportSanPhamLechSoVoiDinhMuc?code=' + code + '&IsPopup=true', '', 0, 900);
            setTimeout(function () {
                $("#myModal .modal-body .iframe-container").html("");
                $('#myModal').modal('hide');
            }, 200000);
            HideLoading();
        }</script>
 
