@model Erp.BackOffice.Areas.Crm.Models.CrmEmailFooterViewModel

@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Sale.Models
@using Erp.BackOffice.Helpers
@{
    ViewBag.Title = Wording.PageIndex_TemplatePrint;
    bool isPopup = Request["IsPopup"] != null && Request["IsPopup"].ToString().ToLower() == "true" ? true : false;
    if (isPopup)
    {
        Layout = "~/Views/Shared/_PopupLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    }

    Erp.BackOffice.Models.PageSetting pageSetting = new Erp.BackOffice.Models.PageSetting
    {
        ModuleName = "CrmTemplate",
        ActionName = "EditFooterEmail",
        PageTitle = "Chỉnh sửa Email Footer",
        DisplaySearchPanel = false,
        IsPopup = false,
        DisplayBackButton = false
    };
}

@section HeadOfPage {
    @Html.ScriptTop_ChosenStyle()
}

@using (Html.BeginPageHeaderContainer(pageSetting))
{

}


@using (Html.BeginForm("EditFooterEmail", "CrmTemplate", FormMethod.Post))
{
    <br />
    @Html.LabelFor(model => model.Logs, htmlAttributes: new { @class = "control-label col-md-3" })

    <div class="row">

        <div class="col-md-12">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id) <!-- Add a hidden field for the Id -->
            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Logs, new { @class = "form-control", id = "ContentEmail" })
                    @Html.ValidationMessageFor(model => model.Logs, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>

    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a class="btn btn-info btn-mini" href="@Url.Action("IndexFooterEmail", "CrmTemplate")">
                    Quay lại trang
                </a>
            </div>
            <div class="pull-left" style="margin-left:5px">

                <input type="submit" value="Lưu" class="btn btn-mini btn-primary" />

            </div>

        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            // Configure CKEditor with custom toolbar for email composition
            CKEDITOR.replace('ContentEmail', {
                toolbar: [
                    { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', 'RemoveFormat'] },
                    { name: 'styles', items: ['Format', 'FontSize'] },
                    { name: 'colors', items: ['TextColor', 'BGColor'] },
                    { name: 'paragraph', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                    { name: 'links', items: ['Link', 'Unlink'] },
                    { name: 'insert', items: ['Image', 'Table', 'HorizontalRule'] }
                ],
                // Remove unwanted plugins
                removePlugins: 'elementspath',
                // Set default CKEditor height
                height: 300,
            });
        });
    </script>
}
