@using Erp.BackOffice.App_GlobalResources
@using Erp.BackOffice.Helpers
@using Erp.Domain.Entities
@using Erp.Domain.Staff.Entities

@{
    Layout = "~/Views/Shared/ACE_AdminLayout.cshtml";
    var toDay = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day);
    //Tuần này

    var firstDayOfWeek = toDay;
    if (firstDayOfWeek.DayOfWeek.ToString() != "Monday")
    {
        firstDayOfWeek = firstDayOfWeek.AddDays(-(int)(firstDayOfWeek.DayOfWeek - 1));
    }
    var lastDayOfWeek = firstDayOfWeek.AddDays(6);

    //Tuần trước
    var temp_firstDayOfLastWeek = firstDayOfWeek.AddDays(-6);
    if (temp_firstDayOfLastWeek.DayOfWeek.ToString() != "Monday")
    {
        temp_firstDayOfLastWeek = temp_firstDayOfLastWeek.AddDays(-(int)(temp_firstDayOfLastWeek.DayOfWeek - 1));
    }
    var firstDayOfLastWeek = temp_firstDayOfLastWeek;
    var lastDayOfLastWeek = firstDayOfLastWeek.AddDays(6);

    //Tháng này
    var firstDayOfMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);

    //Tháng trước
    var firstDayOfLastMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month == 1 ? 12 : (DateTime.Now.Month - 1), 1);
    var lastDayOfLastMonth = firstDayOfLastMonth.AddMonths(1).AddDays(-1);

    //Quý này
    var firstDayOfQuarterVar = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1); // Đổi tên biến này thành firstDayOfQuarterVar


    //quarter
    //Quý trước
    var firstDayOfLastQuarter = firstDayOfQuarterVar.AddMonths(-3);
    //var user = ViewBag.user as IEnumerable<User>;

    // Chuỗi format ngày để hiển thị trên giao diện
    var dateFormat = "yyyy-MM-dd";
    var branches = ViewBag.branches as IEnumerable<Branch>;
    var bps = ViewBag.bps as IEnumerable<UserType_kd>;

}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>


<style>
    #TableKPICongViec > div {
        overflow: unset !important;
    }

    .page-content {
        overflow-y: scroll;
        height: 100vh;
    }

    thead {
        position: sticky;
        top: 0;
    }

    .table > thead > tr > td {
        border: 1px solid black;
    }

    .table > thead > tr {
        color: #123d8c;
        font-family: 'Inter', sans-serif;
        font-weight: bold !important;
        background: #fff;
    }

    /*.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: unset;
    }*/

    /*.table > thead > tr > th {
        border: unset;
    }*/

    /* .table-bordered > thead > tr > th {
        border: unset;
    }*/

    .nav-pills > li.active > a {
        background-color: #00ace6 !important;
    }

    .tab-content {
        border: unset !important;
    }

    .checkbox-inline > input {
        margin-top: 5px;
        padding: 0px 4px 6px;
    }

    .btn-group + .btn, .btn-group > .btn, .checkbox-inline > input {
        border: 1px solid #809dc9 !important;
    }

    label {
        font-family: 'Inter', sans-serif;
        font-weight: bold !important;
        font-size: 15px !important;
        color: #262f58;
    }

    #cuoiThang, #dauThang {
        width: 100%
    }

    body {
        /*margin-top: 20px;*/
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .selectpicker {
        background-color: #fff !important;
        color: #333 !important;
    }

    .dropdown-toggle:hover {
        background-color: #fff !important;
    }

    .btn.dropdown-toggle:active, .open {
        background-color: #ffffff !important;
        border-color: #bfc1c2;
        border: 1px solid #bfc1c2 !important;
    }

    .btn-default, .btn-default.focus, .btn-default:focus, .btn.focus, .btn:focus {
        background-color: #fff;
    }

    .btn-group > .btn > .caret {
        border-top-color: #080808;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

        .gutters-sm > .col, .gutters-sm > [class*=col-] {
            padding-right: 8px;
            padding-left: 8px;
        }

    .modal, .modal-backdrop {
        right: 0;
        bottom: auto;
        left: 0;
    }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }
    /*
    .h-100 {
        height: 100% !important;
    }*/

    .custom-color-td {
        text-align: left;
    }

    .ht_1sao {
        text-align: right;
    }

    .custom-th1 {
        text-align: center;
    }

    .custom-tbody {
        text-align: right;
        border-top: 1px solid #649ff0;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }

    .nav-list > li > a > .menu-icon {
        filter: brightness(0) !important;
        vertical-align: top;
    }

    .table-bordered {
        border: 1px solid #004a9f;
    }

    .btn-statistical {
        padding: .6rem 1.5rem;
        border-radius: 3px;
        border: none;
        outline: none;
        margin-top: 24px;
        background: #499ce4 !important;
    }

        .btn-statistical:hover {
            transition: .3s linear;
        }

    .btn-custom {
        padding: .4rem 1.5rem !important;
        margin: 0 1rem;
    }

        .btn-custom:nth-child(1) {
            margin-left: 0
        }

    .btnchart {
        padding: .6rem 1.5rem !important;
        text-decoration: underline;
    }

    /*    canvas#soluong_chart {
        height: 500px !important;
        width: 500px !important;
    }

    canvas#value_chart {
        width: 500px !important;
        margin: auto;
        height: 500px !important;
    }*/

    /* ----- chart & table----------- */
    .table > thead > tr {
        color: #333;
        font-family: 'Inter', sans-serif;
        font-weight: bold !important;
        background: #fff;
        text-transform: capitalize;
    }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 9px 12px;
        }

    table {
        margin-bottom: 0 !important;
    }

    .table-bordered {
        border: none;
    }



    .table > thead > tr > td {
        border: 1px solid #dbdbdb;
    }

    div#pills-tuannay {
        display: flex;
    }

    /*--------------*/

    .table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border-bottom: .1rem solid #dbdbdb !important;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-right: none !important;
        border-left: none !important;
    }

    .styleDev {
        margin-top: 8px;
    }

    ul#pills-tab {
        margin: 1rem 4rem !important;
    }

</style>
<!-- Button trigger modal -->
<button type="button" style="display:none" id="btn_myModal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalImprove">
    Launch demo modal
</button>

           


<div class="card">
    <h5 class="card-title" style="background-color: white; color: #262f58; font-weight: bolder; margin-left: 1%"> <i class="menu-icon fa fa-bar-chart"></i>Biểu đồ tương tác của nhân viên theo ngày</h5>
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div style="margin-left:-5%" class="col-md-12">
                    <div class="col-sm-4 form-group">

                        <ul class="nav nav-pills mb-3" role="tablist">
                            <li>
                                <label for="idbranch">Chọn Chi nhánh</label>
                                <select class="selectpicker" data-live-search="true" name="idbranch" id="idbranch">
                                    <option class="dropdown-item" value="">--TẤT CẢ--</option>
                                    @if (branches != null)
                                    {
                                        foreach (var item in branches)
                                        {
                                            <option class="dropdown-item" value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                                <div class="flex-select" style="display: flex; gap: 2rem; margin-top: 2rem">
                                    <div>
                                        <label for="idUserTypekd">Chọn bộ phận</label>
                                        <select class="selectpicker" data-live-search="true" name="idUserTypekd" id="idUserTypekd">
                                            <option class="dropdown-item" value="">--TẤT CẢ--</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="iduser">Chọn nhân viên</label>
                                        <select class="selectpicker" data-live-search="true" name="iduser" id="iduser">
                                            <option class="dropdown-item" value="">--TẤT CẢ--</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    @{
                        // Lấy ngày hiện tại
                        var currentDate = DateTime.Now;

                        // Xác định quý hiện tại
                        int quarter = (currentDate.Month - 1) / 3 + 1;

                        // Xác định ngày đầu tiên của quý
                        var firstDayOfQuarter = new DateTime(currentDate.Year, (quarter - 1) * 3 + 1, 1);

                        // Xác định ngày cuối cùng của quý
                        var lastDayOfQuarter = firstDayOfQuarter.AddMonths(3).AddDays(-1);
                    }
                <div class="col-sm-2 form-group styleDev">
                    <label></label>
                    <select class="selectpicker" data-live-search="true" name="idsource" id="idsource">
                        <option class="dropdown-item" value="">--Nguồn dữ liệu--</option>
                        <option class="dropdown-item" value="1">Lead</option>
                        <option class="dropdown-item" value="0">Contact</option>
                    </select>
                </div>
                    <div class="col-sm-2 form-group">
                        <label class="checkbox-inline">
                            Từ ngày:
                            <input type="date" value="@firstDayOfWeek.ToString(dateFormat)" id="dauThang" class="change-icon" />
                        </label>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label class="checkbox-inline">
                            Đến ngày:
                            <input type="date" value="@lastDayOfWeek.ToString(dateFormat)" id="cuoiThang" class="change-icon" />
                        </label>
                    </div>
                    <div class="col-sm-2 form-group">
                        <button id="btn_thongKe" class="btn-statistical btn-primary" style="margin-top: 27px;"><i class="fa fa-search" style="padding-right:5px; filter:brightness(3);"></i> Thống kê</button>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

            <li class="nav-item active">
                <a class="nav-link btn-custom" id="pills-tuannay" onclick="changeWeek()" data-toggle="pill" href="#pills-tuannay" role="tab" aria-controls="pills-tuannay" aria-selected="false"> <i class="fa fa-calendar"></i> Tuần này</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-custom" id="pills-tuantruoc" onclick="changeLastWeek()" data-toggle="pill" href="#pills-tuantruoc" role="tab" aria-controls="pills-tuantruoc" aria-selected="true"> <i class="fa fa-calendar"></i> Tuần trước</a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn-custom" id="pills-thangnay" onclick="changeMonth()" data-toggle="pill" href="#pills-thangnay" role="tab" aria-controls="pills-thangnay" aria-selected="true"> <i class="fa fa-calendar"></i> Tháng này</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-custom" id="pills-thangtruoc" onclick="changeLastMonth()" data-toggle="pill" href="#pills-thangtruoc" role="tab" aria-controls="pills-thangtruoc" aria-selected="true"> <i class="fa fa-calendar"></i> Tháng trước</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-custom" id="pills-quynay" onclick="changeQuarter()" data-toggle="pill" href="#pills-quynay" role="tab" aria-controls="pills-quynay" aria-selected="true"> <i class="fa fa-calendar"></i> Quý này</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-custom" id="pills-quytruoc" onclick="changeLastQuarter()" data-toggle="pill" href="#pills-quytruoc" role="tab" aria-controls="pills-quytruoc" aria-selected="true"> <i class="fa fa-calendar"></i> Quý trước</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link btn-custom" id="pills-thoigiankhac" onclick="" data-toggle="pill" href="#pills-thoigiankhac" role="tab" aria-controls="pills-thoigiankhac" aria-selected="true"> <i class="far fa-calendar-alt"></i> Thời gian khác</a>
            </li>*@

        </ul>
        <div class="tab-content soluong_chart" id="pills-tabContent" style="display: flex;flex-direction:column">
            <div class="tab-pane fade active in" id="pills-tuannay" role="tabpanel" aria-labelledby="pills-bieudo-tab" style="margin: auto;">
                <div style="overflow-x: auto;  max-height: 600px;width: 100vw; margin-bottom:30PX;">
                    <canvas id="soluong_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="pills-tuannay" role="tabpanel" aria-labelledby="pills-bieudo-tab">
                <div style="overflow-x: auto; max-height: 500px;width: 100%; margin-bottom: 30PX; display: flex; gap: 2rem">
                    <table id="tblBarChart" class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                <td colspan="3"> Top nhân viên có lượng tương tác cao nhất</td>
                            </tr>
                            <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                <td> </td>
                                <td> Outboundcall</td>
                                <td> Cuộc gọi có trả lời</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table id="tblAscChart" class="table table-hover table-bordered table-responsive">
                        <thead>
                            <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                <td colspan="3"> Top nhân viên có lượng tương tác thấp nhất</td>
                            </tr>
                            <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                <td> </td>
                                <td> Outboundcall</td>
                                <td> Cuộc gọi có trả lời</td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-content hlm_chart" style="display: flex;flex-direction:column">
            <div class="tab-pane fade active in" id="pills-tuannay" role="tabpanel" aria-labelledby="pills-bieudo-tab" style="margin: auto;">
                <div style="overflow-x: auto;  max-height: 600px;width: 100vw; margin-bottom:30PX;">
                    <canvas id="hlm_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-content tbdsa_chart" style="display: flex;flex-direction:column">
            <div class="tab-pane fade active in" id="pills-tuannay" role="tabpanel" aria-labelledby="pills-bieudo-tab" style="margin: auto;">
                <div style="overflow-x: auto;  max-height: 600px;width: 100vw; margin-bottom:30PX;">
                    <canvas id="tbdsa_chart"></canvas>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="pills-tuannay" role="tabpanel" aria-labelledby="pills-bieudo-tab">
                <div style="overflow-x: auto;  max-height: 500px;width: 100%; margin-bottom: 30PX;">
                    <div class="flex-table" style="display: flex; gap: 2rem; margin-bottom: 2rem">
                        <table id="tblhendesc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #afc1e1; color: #333 "> Nhân viên có lượng hẹn cao nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #afc1e1" ;>
                                    <td style="color: #333"> Nhân viên</td>
                                    <td style="color: #333"> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="tblhenasc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #9bc2e6; color: #333 "> Nhân viên có lượng hẹn thấp nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #9bc2e6 ">
                                    <td style="color: #333"> Nhân viên</td>
                                    <td style="color: #333"> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="flex-table" style="display: flex; gap: 2rem; margin-bottom: 2rem">
                        <table id="tbllendesc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #a9d08e; color: #333 "> Nhân viên có lượng lên cao nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #a9d08e">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="tbllenasc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #698158; color: #333"> Nhân viên có lượng lên thấp nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #698158">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="flex-table" style="display: flex; gap: 2rem; margin-bottom: 2rem">
                        <table id="tblmuadesc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #f8cbad; color: #333"> Nhân viên có lượng mua cao nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #f8cbad">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="tblmuaasc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #f8cbad; color: #333"> Nhân viên có lượng mua thấp nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #f8cbad">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="flex-table" style="display: flex; gap: 2rem; margin-bottom: 2rem">
                        <table id="tbldsdesc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #ffd966; color:#333"> Nhân viên có doanh số cao nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #ffd966 ">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <table id="tbldsasc" class="table table-hover table-bordered table-responsive">
                            <thead>
                                <tr style="font-weight: bold; text-align: center; background-color: #ececec">
                                    <td colspan="2" style="background: #ffd966; color:#333"> Nhân viên có doanh số thấp nhất</td>
                                </tr>
                                <tr style="font-weight: bold; text-align: center; background-color: #ffd966 ">
                                    <td> Nhân viên</td>
                                    <td> Số lượng</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="display: none">

    <input id="firstDayOfWeek" value="@firstDayOfWeek.ToString("yyyy-MM-dd")" />
    <input id="lastDayOfWeek" value="@lastDayOfWeek.ToString("yyyy-MM-dd")" />

    <input id="firstDayOfLastWeek" value="@firstDayOfLastWeek.ToString("yyyy-MM-dd")" />
    <input id="lastDayOfLastWeek" value="@lastDayOfLastWeek.ToString("yyyy-MM-dd")" />

    <input id="firstDayOfMonth" value="@firstDayOfMonth.ToString("yyyy-MM-dd")" />
    <input id="lastDayOfMonth" value="@lastDayOfMonth.ToString("yyyy-MM-dd")" />

    <input id="firstDayOfLastMonth" value="@firstDayOfLastMonth.ToString("yyyy-MM-dd")" />
    <input id="lastDayOfLastMonth" value="@lastDayOfLastMonth.ToString("yyyy-MM-dd")" />

    <input id="firstDayOfQuarter" value="@firstDayOfQuarter.ToString("yyyy-MM-dd")" />
    <input id="lastDayOfQuarter" value="@lastDayOfQuarter.ToString("yyyy-MM-dd")" />

    <input id="firstDayOfLastQuarter" value="@firstDayOfLastQuarter.ToString("yyyy-MM-dd")" />

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    var charts = [];

    function DrawBarChart(i, data, labels, backgroundColor, extraid) {
        debugger
        const ctx = document.getElementById(i);
        let datasets = [];
        for (let i = 0; i < data.length; i++) {
            let obj = {
                label: 'Số Call',
                data: data[i].SL.map(function (a) { return a.SL; }),
                fill: false,
                borderColor: 'red',
                backgroundColor: 'red',
                order: 1
            }
            datasets.push(obj)
            datasets.push({
                label: 'Số Play',
                data: data[i].SL.map(function (a) { return a.TLSL; }),
                fill: false,
                borderColor: 'blue',
                backgroundColor: 'blue',
                type: 'line',
                order: 0
            })
        }
        charts.push({
            i: i, chart: new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: datasets,
                    customData: extraid
                },
                options: {
                    plugins: {
                        datalabels: {
                            color: 'black',
                            font: {
                                size: 11,
                                weight: 'normal'
                            },
                            formatter: function (value, context) {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value;
                            }
                        }
                    },
                    responsive: true,
                    scales: {
                        y: {
                            ticks: {
                                callback: function (value, index, values) {
                                    return value.toLocaleString(); // Định dạng số với dấu phân cách hàng nghìn
                                }
                            }
                        }
                    }
                }
            })
        });
    }
    function DrawLineChart(i, data, labels, backgroundColor, extraid) {
        const ctx = document.getElementById(i);
        let datasets = [];
        for (let i = 0; i < data.length; i++) {
            let obj = {
                label: 'hẹn',
                data: data[i].SL.map(function (a) { return a.SLLM; }),
                fill: false,
                borderColor: 'red',
                tension: 0.1
            }
            datasets.push(obj)
            datasets.push({
                label: 'lên',
                data: data[i].SL.map(function (a) { return a.SLNL; }),
                fill: false,
                borderColor: 'blue',
                tension: 0.1

            })
            datasets.push({
                label: 'mua',
                data: data[i].SL.map(function (a) { return a.SLNM; }),
                fill: false,
                borderColor: 'yellow',
                tension: 0.1
            })
            datasets.push(obj);
        }
        charts.push({
            i: i, chart: new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets,
                    customData: extraid
                },
                options: {
                    plugins: {
                        datalabels: {
                            color: 'black',
                            font: {
                                size: 11,
                                weight: 'normal'
                            },
                            formatter: function (value, context) {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value.toLocaleString();
                            }
                        }
                    },
                    scales: {
                        y: {
                            ticks: {
                                callback: function (value, index, values) {
                                    return value.toLocaleString();
                                }
                            }
                        }
                    }
                }
            })
        });
    }
    function DrawLineFillChart(i, data, labels, backgroundColor, extraid) {
        const ctx = document.getElementById(i);
        let datasets = [];
        for (let i = 0; i < data.length; i++) {
            let obj = {
                label: 'TBĐH ảo',
                data: data[i].SL.map(function (a) { return a.TBDHA; }),
                fill: true,
                borderColor: 'red',
                backgroundColor: 'rgba(255, 0, 0, 0.1)',
                tension: 0.1
            }
            datasets.push(obj)
            datasets.push({
                label: 'Ds ảo',
                data: data[i].SL.map(function (a) { return a.DSA; }),
                fill: true,
                borderColor: 'blue',
                backgroundColor: 'rgba(0, 0, 255, 0.1)',
                tension: 0.1

            })
            datasets.push(obj);
        }
        charts.push({
            i: i, chart: new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets,
                    customData: extraid
                },
                options: {
                    plugins: {
                        datalabels: {
                            color: 'black',
                            font: {
                                size: 11,
                                weight: 'normal'
                            },
                            formatter: function (value, context) {
                                return context.chart.data.labels[context.dataIndex] + ': ' + value.toLocaleString();
                            }
                        }
                    },
                    scales: {
                        y: {
                            ticks: {
                                callback: function (value, index, values) {
                                    return value.toLocaleString();
                                }
                            }
                        }
                    }
                }
            })
        });
    }
</script>


@section Scripts {
    <script>
        // function to calculate the first and last day of the previous quarter
        function calculatePreviousQuarter() {
            var currentDate = new Date(); // Ngày hiện tại
            var currentMonth = currentDate.getMonth() + 1; // Tháng hiện tại (1-12)
            var currentYear = currentDate.getFullYear(); // Năm hiện tại
            var quarters = [1, 4, 7, 10]; // Tháng đầu tiên của các quý
            var currentQuarter;

            // Xác định quý hiện tại
            for (var i = 0; i < quarters.length; i++) {
                if (currentMonth < quarters[i]) {
                    currentQuarter = i;
                    break;
                }
            }
            if (currentQuarter === undefined) {
                currentQuarter = 4; // Nếu tháng hiện tại lớn hơn 10 (tháng cuối cùng của quý 4)
            }

            var previousQuarter = currentQuarter === 1 ? 4 : currentQuarter - 1; // Quý trước đó
            var firstMonthOfPreviousQuarter = quarters[previousQuarter - 1]; // Tháng đầu tiên của quý trước
            var lastMonthOfPreviousQuarter = quarters[currentQuarter - 1] - 1; // Tháng cuối cùng của quý trước

            var firstDayOfPreviousQuarter = new Date(currentYear, firstMonthOfPreviousQuarter - 1, 1); // Ngày đầu tiên của quý trước
            var lastDayOfPreviousQuarter = new Date(currentYear, lastMonthOfPreviousQuarter, 0); // Ngày cuối cùng của quý trước

            return {
                firstDay: formatDate(firstDayOfPreviousQuarter),
                lastDay: formatDate(lastDayOfPreviousQuarter)
            };
        }

        // Hàm chuyển đổi ngày thành chuỗi yyyy-mm-dd
        function formatDate(date) {
            var year = date.getFullYear();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            return year + '-' + month + '-' + day;
        }

        // Gắn sự kiện cho nút "Quý trước"
        document.getElementById('pills-quytruoc').addEventListener('click', function () {
            var previousQuarterDates = calculatePreviousQuarter();
            // Cập nhật giá trị của input ẩn chứa ngày đầu tiên và ngày cuối cùng của quý trước
            document.getElementById('dauThang').value = previousQuarterDates.firstDay;
            document.getElementById('cuoiThang').value = previousQuarterDates.lastDay;
        });

    </script>

    <script>

        var btnThongKe = document.getElementById("btn_thongKe");
        var btndatechart = document.getElementById("iduser");
        var btnDetail = document.getElementById("btn_detail");
        var btnBps = document.getElementById("btn_bps");
        var btnThongKeBD = document.getElementById("btn_thongKeBD");
        var dauThang = document.getElementById("dauThang");
        var cuoiThang = document.getElementById("cuoiThang");
        var year = document.getElementById("year");
        $("#dauThang").datepicker({
            showOn: "off"
        });

        $("#cuoiThang").datepicker({
            showOn: "off"
        });

        //Tuần
        function changeWeek() {
            $("#dauThang").val($("#firstDayOfWeek").val());
            $("#cuoiThang").val($("#lastDayOfWeek").val());
        }
        function changeLastWeek() {
            $("#dauThang").val($("#firstDayOfLastWeek").val());
            $("#cuoiThang").val($("#lastDayOfLastWeek").val());
        }

        //Tháng
        function changeMonth() {
            $("#dauThang").val($("#firstDayOfMonth").val());
            $("#cuoiThang").val($("#lastDayOfMonth").val());
        }
        function changeLastMonth() {
            $("#dauThang").val($("#firstDayOfLastMonth").val());
            $("#cuoiThang").val($("#lastDayOfLastMonth").val());
        }
        //Quý
        function changeQuarter() {
            $("#dauThang").val($("#firstDayOfQuarter").val());
            $("#cuoiThang").val($("#lastDayOfQuarter").val());
        }
        function changeLastQuarter() {
            $("#dauThang").val($("#firstDayOfLastQuarter").val());
            $("#cuoiThang").val($("#lastDayOfLastQuarter").val());
        }

        function getFromToDate() {
            var result = true;
            var strFromDate = "";
            var strToDate = "";

            if ($("#dauThang").val() > $("#cuoiThang").val()) {
                alert("Không thể lấy dữ liệu.\nNgày bắt đầu không được lớn hơn ngày kết thúc.");
                return false;
            }
            strFromDate = $("#dauThang").datepicker({ dateFormat: 'yyyy-mm-dd' }).val();
            strToDate = $("#cuoiThang").datepicker({ dateFormat: 'yyyy-mm-dd' }).val();
            //strFromDate = document.getElementById("dauThang")
            //strToDate = document.getElementById("cuoiThang");

            return {
                result: result,
                strFromDate: strFromDate,
                strToDate: strToDate,
            };
        }
        function editItem(idbranch) {
            $("#idbranch").val(idbranch).change();
        }
        function AddExtTheEnd(inn, outt) {
            let data = [...outt]
            for (let i = 0; i < inn.length; i++) {
                data[i] = data[i] + `(${inn[i]}%)`
            }
            return data
        }
        function convert(n) {
            var sign = +n < 0 ? "-" : "",
                toStr = n.toString();
            if (!/e/i.test(toStr)) {
                return n;
            }
            var [lead, decimal, pow] = n.toString()
                .replace(/^-/, "")
                .replace(/^([0-9]+)(e.*)/, "$1.$2")
                .split(/e|\./);
            return +pow < 0 ?
                sign + "0." + "0".repeat(Math.max(Math.abs(pow) - 1 || 0, 0)) + lead + decimal :
                sign + lead + (+pow >= decimal.length ? (decimal + "0".repeat(Math.max(+pow - decimal.length || 0, 0))) : (decimal.slice(0, +pow) + "." + decimal.slice(+pow)))
        }
        function btntke() {
            debugger
            var returnValue = getFromToDate();
            if (!returnValue.result) return;
            var idbranch = $("#iduser option:selected").val() > 0 ? $("#iduser option:selected").val() : $("#idbranch option:selected").val();
            var idsource = $("#idsource option:selected").val();

            ShowLoading();
            //Thống kê công việc
            $.ajax({
                url: "/AdviseCard/GetInteractLeadReport",
                data: { idBranch: idbranch, strFromDate: returnValue.strFromDate, strToDate: returnValue.strToDate, type: $("#iduser option:selected").val() > 0 ? 2 : $("#idbranch option:selected").val() > 0 ? 0 : 1, idsource: idsource },
                method: 'get',
                dataType: 'json',
                success: function (chart) {
                    debugger
                    charts.forEach(x => x.chart.destroy())
                    //if (charts.find(x => x.i == 'soluong_chart') != undefined) {
                    //    let f = charts.find(x => x.i == 'soluong_chart')
                    //    f.chart.destroy()
                    //    const index = charts.indexOf(f);
                    //    if (index > -1) {
                    //        charts.splice(index, 1); // Remove one item at the specified index
                    //    }
                    //}
                    DrawBarChart('soluong_chart', chart.data, chart.labels, chart.backgroundColor, chart.extraid)
                    DrawLineChart('hlm_chart', chart.data, chart.labels, chart.backgroundColor, chart.extraid)
                    DrawLineFillChart('tbdsa_chart', chart.data, chart.labels, chart.backgroundColor, chart.extraid)
                    let  trs = ''
                    chart.tbldesc.forEach((x, index) => {
                        trs += `<tr>
                        <td>${x.Name == null ? '' : x.Name}</td>
                        <td>${x.SL == null ? '' : x.SL}</td>
                        <td>${x.TLSL == null ? '' : x.TLSL}</td>
                        </tr>`
                    })
                    $('#tblBarChart tbody').html(trs)
                    trs = ''
                    chart.tblasc.forEach((x, index) => {
                        trs += `<tr>
                        <td>${x.Name == null ? '' : x.Name}</td>
                        <td>${x.SL == null ? '' : x.SL}</td>
                        <td>${x.TLSL == null ? '' : x.TLSL}</td>
                        </tr>`
                    })
                    $('#tblAscChart tbody').html(trs)
                    trs = ''
                    chart.lendesc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #e2efda'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #e2efda'>${x.SLNL == null ? '' : x.SLNL}</td>
                        </tr>`
                    })
                    $('#tbllendesc tbody').html(trs)
                    trs = ''
                    chart.lenasc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #bdc8b6'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #bdc8b6'>${x.SLNL == null ? '' : x.SLNL}</td>
                        </tr>`
                    })
                    $('#tbllenasc tbody').html(trs)
                    trs = ''
                    chart.muadesc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #fce4d6'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #fce4d6'>${x.SLNM == null ? '' : x.SLNM}</td>
                        </tr>`
                    })
                    $('#tblmuadesc tbody').html(trs)
                    trs = ''
                    chart.muaasc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #fce4d6'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #fce4d6'>${x.SLNM == null ? '' : x.SLNM}</td>
                        </tr>`
                    })
                    $('#tblmuaasc tbody').html(trs)
                    trs = ''
                    chart.hendesc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #d9e1f2'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #d9e1f2'>${x.SLLM == null ? '' : x.SLLM}</td>
                        </tr>`
                    })
                    $('#tblhendesc tbody').html(trs)
                    trs = ''
                    chart.henasc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #d9e1f2'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #d9e1f2'>${x.SLLM == null ? '' : x.SLLM}</td>
                        </tr>`
                    })
                    $('#tblhenasc tbody').html(trs)
                    trs = ''
                    chart.dsdesc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #fff2cc'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #fff2cc'>${x.DSA == null ? '' : BigInt(convert(x.DSA)).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' })}</td>
                        </tr>`
                    })
                    $('#tbldsdesc tbody').html(trs)
                    trs = ''
                    chart.dsasc.forEach((x, index) => {
                        trs += `<tr>
                        <td style='background: #fff2cc'>${x.Name == null ? '' : x.Name}</td>
                        <td style='background: #fff2cc'>${x.DSA == null ? '' : BigInt(convert(x.DSA)).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) }</td>
                        </tr>`
                    })
                    $('#tbldsasc tbody').html(trs)
                    HideLoading();
                }, 
                error: function () {
                    HideLoading();
                    alert("Lỗi.\nKhông thể lấy dữ liệu báo cáo (1).");
                }
            });

        }
        btnThongKe.addEventListener('click', btntke)

        $(document).ready(function () {

            $('.selectpicker').on('change', function () {
                debugger
                if ($(this).is('#idbranch')) {
                    debugger
                    $.ajax({
                        url: "/AdviseCard/GetUserTypekdByBranch",
                        data: { idBranch: $('#idbranch').val() },
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            debugger
                            let opt = '<option class="dropdown-item" selected value="">--TẤT CẢ--</option>'
                            data.forEach(x => opt += `<option value=${x.Id}>${x.Name}</option>`)
                            $('#idUserTypekd').html(opt)
                            $('#idUserTypekd').selectpicker('refresh')
                            $('.selectpicker[id=idUserTypekd]').trigger('change')
                            HideLoading();
                        },
                        error: function () {
                            HideLoading();
                            alert("Lỗi.\nKhông thể lấy dữ liệu báo cáo (1).");
                        }
                    });

                } else if ($(this).is('#idUserTypekd')) {
                    $.ajax({
                        url: "/AdviseCard/GetUserByUserTypekd",
                        data: { idBranch: $('#idUserTypekd').val() },
                        method: 'get',
                        dataType: 'json',
                        success: function (data) {
                            debugger
                            let opt = '<option class="dropdown-item" selected value="">--TẤT CẢ--</option>'
                            data.forEach(x => opt += `<option value=${x.Id}>${x.FullName}</option>`)
                            $('#iduser').html(opt)
                            $('#iduser').selectpicker('refresh')
                            HideLoading();
                        },
                        error: function () {
                            HideLoading();
                            alert("Lỗi.\nKhông thể lấy dữ liệu báo cáo (1).");
                        }
                    });
                }
            })
        })
    </script>
}



